@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap');

:root {
    --cor-de-fundo: hsl(185, 75%, 39%);
    --cor-texto: hsl(227, 10%, 79%);
}

span {
    font-weight: 900;
    color: black;
}

body {
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    font-family: 'Kumbh Sans', sans-serif;
}

.cartao {
    background-color: white;
    height: 450px;
    width: 350px;
    border-radius: 3%;
    border: 1px solid;
}

.cartao .perfil {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 35px;
}

.cartao .dados-pessoais,.dados-redes {
    text-align: center;
    color: var(--cor-texto);
}

.cartao .dados-redes{
    margin-top: 25px;
    font-size: 19px;
}